{% extends 'base.html.twig' %}

{% block title %}{{ member }}{% endblock %}

{% block body %}
    <h1>{{ member}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ member.name }}</td>
            </tr>
            {% if member.user == user or (user.isAdmin()) %}
            <tr>
                <th>Wardrobes</th>
                <td>
                {%for wardrobe in member.wardrobe%}
                <li><a href="{{ path('wardrobe_show', {'id': wardrobe.id}) }}">{{ wardrobe }}</a></li>
                {% endfor %}
                <a href="{{ path('app_wardrobe_new', {'id': member.id}) }}">Create a new wardrobe</a>
                </td>
            </tr>
            {% endif %}   
            <tr>
            <th>Showcases</th>
            <td>
            {% for showcase in member.showcases %}
            <li><a href="{{ path('app_showcase_show', {'id' : showcase.id}) }}">{{ showcase }}</a></li>
            {% endfor %}
            {% if member.user == user or (user.isAdmin()) %}
            <a href="{{ path('app_showcase_new', {'id': member.id}) }}">add a showcase</a>
            {% endif %}
            </td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_member_index')}}">back to member list</a>
{% endblock%}

