{% extends 'base.html.twig' %}

{% block title %}Wardrobe details{% endblock %}
{% block body %}
      <h1>{{ wardrobe.name }}</h1>

         {% dump wardrobe %}

      <table class="table">
          <tbody>
              <tr>
                    <th>Description</th>
                    <td>{{ wardrobe.description}}</td>
              </tr>
              <tr>
                  <th>Owner</th>
                  <td>{{ wardrobe.owner }}</td>
              </tr>
              <tr>
                <th>Weapons</th>
                <td>
                    <ul>
                {% for weapon in wardrobe.weapon %}
                        <li>
                            <a href="{{path('weapon_show', {'id' : weapon.id}) }}">{{ weapon }}</a>
                        </li>
                {% endfor %} {# [inventaire].[objets] #}
                    </ul>
                    <a href="{{ path('app_weapon_new', {'wardrobe_id': wardrobe.id}) }}">add new weapon</a>
            </td>
            </tr>
          </tbody>
      </table>

      <a href="{{ path('app_member_index') }}">back to list</a>

  {% endblock %} {# body #}