{% extends 'base.html.twig' %}

{% block title %}Wardrobe details{% endblock %}
{% block body %}
      <h1>{{ wardrobe.name }}</h1>

         {% dump wardrobe %}

      <table class="table">
          <tbody>
              <tr>
                    <th>Description</th>
                    <td>{{ wardrobe.description}}</td>
              </tr>
              <tr>
                  <th>Owner</th>
                  <td>{{ wardrobe.owner }}</td>
              </tr>
              <tr>
                <th>Skins</th>
                <td>
                    <ul>
                {% for skin in wardrobe.skin %}
                        <li>
                            <a href="{{path('skin_show', {'id' : skin.id}) }}">{{ skin }}</a>
                        </li>
                {% endfor %} {# [inventaire].[objets] #}
                    </ul>
            </td>
            </tr>
          </tbody>
      </table>

      <a href="{{ path('wardrobe_index') }}">back to list</a>

  {% endblock %} {# body #}